@tailwind base;
@tailwind components;
@tailwind utilities;

/* import font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* global variables */
:root {
  --dark-theme-color: #686C51;
  --light-theme-color: #9EA28E;
  --base-bg-color: #FFFBF6; 
  --accent-color: #FECB50;
  --dark-text-color: #2E2E2E;
  --light-text-color: #F6F6F6;
  --rounded-tiny: .1rem;
}

.contentContainer {
	min-height: calc(100vh - 88px)
}

.header-title {
  font-size: 3rem
}

.title {
  font-size: 3rem;
  font-weight: 600
}